.post-mapped{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    width: 90vw;
}
.post{
    width: 350px;
    height:400px;
}
.picture{
    width: 350px
}